   
.menu { 
    transform: translate(-50%, -50%); 
    padding: 20px;
    border-radius: 20%;
    text-align: center;
    list-style-type: none; 
    width: 300px; 
    position: absolute;
    top: 53%;  
    left: 33%;
    
        }

.menu li {
    margin: 10px 0;
    font-size: 40px;
    font-family: "Grechen Fuemen", serif;
    font-weight: bold;
    transform: scale(1.5)
}

.menu li a {
    color: rgb(216, 193, 193);
    text-decoration: none;
    padding:9px;
    display: block;
    transition: background-color 0.3s;
    cursor: pointer;

}

.menu li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-style: initial;
    border-radius: 45px;
    transform: scale(2) ;}


.toggle2 {
    display: inline-block;
    width: 55px;
    height: 30px;
    background: #aaa;
    border-radius: 100px;
    position: absolute;
    top: 18%;
    left: -4%;
    cursor: pointer;
    margin: 450px;
}
#sonidoFondo:checked~ .toggle2 {
    background: #be2e02;
    
}
.toggle2:after{
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 100px;
    top: 4px;
    left: 5px;
    transition: 0.3s;

}
#sonidoFondo:checked~ .toggle2:after{
    left: 28px;
}
#sonidoFondo {
    display: none;
}



.toggle {
    display: inline-block;
    width: 55px;
    height: 30px;
    background: #aaa;
    border-radius: 100px;
    position: absolute;
    top: 20px;
    left: -4%;
    cursor: pointer;
    margin: 450px;
}
#musicaFondo:checked~ .toggle {
    background: #be2e02;
}
.toggle:after{
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 100px;
    top: 4px;
    left: 5px;
    transition: 0.3s;

}
#musicaFondo:checked~ .toggle:after{
    left: 28px;
}
#musicaFondo {
    display: none;
}


.menuOpcion {
    display: block;
    transform: translate(-50%, -50%); 
    border-radius: 20%;
    text-align: center;
    list-style-type: none; 
    position: absolute;
    top: 57%;  
    left: 42%;
    
}

.menuOpcion li {
    margin: 10px 0;
    font-size: 40px;
    font-family: "Grechen Fuemen", serif;
    font-weight: bold;
    transform: scale(1.5)
}

.menuOpcion li a {
    color: rgb(216, 193, 193);
    text-decoration: none;

}

