html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("./img-fondos-personajes/Screenshot\ 2025-02-18\ 184043.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
