   
.menu { 
    transform: translate(-50%, -50%); 
    /* background-color: rgba(21, 19, 19, 0.5); */
    padding: 20px;
    border-radius: 20%;
    text-align: center;
    list-style-type: none; 
    width: 300px; 
    position: absolute;
    top: 53%;  
    left: 20%;

        }

.menu li {
    margin: 8px 0;
    font-size: 40px;
    font-family: "Grechen Fuemen", serif;
}

.menu li a {
    color: rgb(216, 193, 193);
    text-decoration: none;
    padding:9px;
    display: block;
    transition: background-color 0.3s;

}

.menu li a:hover {
    background-color: rgba(236, 169, 169, 0.3);
    border-style: initial;
    border-radius: 45px;

    ;}


    